


    body{
        background-color:#e7e7de;
        height: 800px;
        margin: 0%;
        padding: 0%;
        color:#e7e7de ;
        position: absolute;
    }
    
    header{
        background-color:#008891 ;
        position: fixed;
        margin: 0px;
        padding-bottom: 3px;
        padding-top: 3px;
        position: relative;
        top: 22px;
    }
    
    .list{
        position: relative;  
        text-align: right;
        padding: 2px;
        margin: 3px;
    }
    
    
    main{
        background-color: #00587a;
        margin:0px;
        padding: 8px;
    }



--------------------------

    
li{
    background-color: rgb(190, 228, 190);
    margin: 20px;
    padding: 10px;
}

.list{
    display: inline-block;
    text-align: right;
   
}



footer{
background-color: rgb(190, 228, 190);
height: 50px;
margin:0px;
padding-top: 2px;
padding-bottom: 2px;
text-align: center;
}
-----------------------------
.long text{
    height:1000px;
    width: 800px; 
    border-radius: 20px;
    background-color: rgba(190, 228, 190,70%);
    text-align: justify;
   }
  
   .text{
      height: 800px;
      width: 800px;
      border-radius: 10px;
      padding: 10px;
      background-color: rgb(190, 228, 190,70%);
      text-align: center;
      position:relative;
      bottom: (100%);
      margin-top: 0px;
      }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .img-design{
      height: 500px;
      width: 500px;
      float: right;
  }