body{
    background-color: rgb(161, 138, 108);
    text-align: center;

    
    
}
h1{
    background-color: aliceblue; opacity: 0.8;
    text-align: center;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue; opacity: 0.8;
}

li{
    background-color: aliceblue; opacity: 0.8;
    display:inline-block;
    margin: 20px;
    padding: 10px;
}